*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* ### Primary */

    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    /* ### Neutral */

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    }

    body{
        font-family: 'Red Hat Display', sans-serif;
        background-image: url(images/pattern-background-desktop.svg);
        background-repeat: no-repeat;
    }

    @media (max-width: 767px) {
        body{
            background-image: url(images/pattern-background-mobile.svg);
        }
        
    }

    main{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;

    }

    .card{
        width: 450px;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 40px var(--Desaturated-blue);
        }

    .card img.hero{
        max-width: 100%;
    }

    .card .info{
        text-align: center;
        padding: 30px;
        background-color: white;
        margin-top: -5px;
    }
    .card .info h2{
        margin: 20px 0;
        color: var(--Dark-blue);
        font-size: 28px;
        font-weight: 900;
    }

    .card .info p{
        color: var(--Desaturated-blue);
        font-size: 16px;
        line-height: 1.6;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .card .info .select{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 305px;
        margin: 50px auto ;
    }

    .card .select .left{
        display: flex;
        align-items: center;
    }
    
    .card .select .left img{
        margin-right: 20px;
    }
    
    .card .select .left h3{
        color: var(--Dark-blue);
        font-size: 16px;
        font-weight: 800;
    }
    .card .select .left .price{
        color: var(--Desaturated-blue);
    }

    .card .info .change{
        border: none;
        text-decoration: underline;
        font-weight: 800;
        color: var(--Bright-blue);
    }

    .card .proceed{
        display: block;
        width: 100%;
        background-color: var(--Bright-blue);
        color: white;
        padding: 15px;
        font-weight: 700;
        font-size: 16px;
        border: none;
        border-radius: 10px;
        max-width: 350px;
        margin: 0 auto 30px;
    }

    .card .cancel{
        border: none;
        font-weight: 800;
        color: var(--Desaturated-blue);
        margin-bottom: 30px;
    }
